html {
  font-size: 100%;
}

body {
  font-family: "Montserrat", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans",
    Meiryo, sans-serif;
  line-height: 1.8;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}
